Release Notes.txt
*.binlog
*.trx
*.properties
*.dll
*-*.dll
*.sdf
.vs/
Packages
Build
TestResults
x86/Debug
x86/Release
x64/Debug
x64/Release
_g_*
*.o
*.so*
obj
bin
*.Generated.cs
*.suo
*.vspscc
*.user
*.bak
*.user
*.aps
*.pch
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
desktop.ini
Thumbs.db
$tf/
Temp-*/
*.3rdparty/
*.1*
*.2*
*.3*
*.4*
*.5*
*.6*
*.7*
*.8*
*.9*
*.vsp*
*.psess
*.orig
*.sq3
*.db
tmp.*
*.tmp_proj
*wpftmp.csproj
.idea/
.tmp*
buildProto/
global.json
.fake
.ionide
/.docker
